<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="laboratorka.Properties.Settings.labaDataConnectionString"
            connectionString="Data Source=DESKTOP-291LM31\SQLEXPRESS;Initial Catalog=labaData;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>